@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  /* 60px */
  font-size: 3.75rem;
}

h2 {
  /* 50px */
  font-size: 3.125rem;
}

h3 {
  /* 40px */
  font-size: 2.5rem;
}

h4 {
  /* 30px */
  font-size: 1.875rem;
}

h5 {
  /* 20px */
  font-size: 1.25rem;
}

h6 {
  /* 10px */
  font-size: 0.625rem;
}

p,
span {
  /* 14px */
  font-size: 0.875rem;
}
